body {
    background-color: #080434;
}

.navbar {
    background-color: #780454;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: white;

}

p {
    text-align: center;
    color: white;
}

.start-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}

.footer {
    background-color: lightslategray;
}

.container {
    padding: 30px;
}

h6 {
    color: white;
    font-weight: bold;
    text-align: start;
}

ul {
    list-style: none;

}



ul a {
    text-decoration: none;
}

.top-five {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    padding: 10px;

    margin: 10px;
}

/* media queries*/
@media screen and (max-width:1200px) {
    .card {
        width: 40px;
    }

}

@media screen and (max-width:600px) {
    .card {
        width: 40%;
    }

}

.subscribe {
    padding: 40px;
}